---
import BaseLayout from '../layouts/BaseLayout.astro';
import ArticleCard from '../components/ArticleCard.astro';
const pageTitle = "Bridgette's UI Design, HTML, & CSS Blog";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const sortedPosts = allPosts.sort((a: any, b: any) =>
  new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime()
);
---

<BaseLayout pageTitle={pageTitle}>

  <section>
	<h2>Articles</h2>
    	{allPosts.map((post: any) => <ArticleCard title={post.frontmatter.title} date={post.frontmatter.date} desc={post.frontmatter.description} url={post.url} />)}
	</section>

	<div class="divider"></div>

	<section>
		<h2>About</h2>
		<p>I've been teaching web design and development for the past nine years. I'm originally self-taught, and that background keeps me curious, I genuinely enjoy continuing to learn new tools and approaches alongside my students. While I can both design and develop, I find myself drawn most to UI design and front-end, CSS-focused development, where visual thinking and clean code meet. I'm a bit of a purist at heart, but I understand the need for efficiency, and everything is a balancing act.</p>

		<h3>Resources & Readings</h3>
		<p>Here are some of my favourite recommendations:</p>
		<ul>
			<li><a href="https://www.youtube.com/kevinpowell">Kevin Powell YouTube</a> ~ A top favourite with all my students.</li>
		</ul>
	</section>
</BaseLayout>
